body {
  font-family: "Gloria Hallelujah", cursive;
}

h1 {
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

/*button stylings */
.input {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.input:hover {
  outline: none;
}
.wave {
  border-radius: 40px 0 40px 0;
  transition: 0.3s ease;
}
.waveC {
  background-color: rgb(255, 254, 191);
  color: rgb(197, 0, 197);
  border: 2px solid rgb(230, 146, 255);
  box-shadow: 2px 2px 2px 1px rgba(249, 73, 255, 0.4);
}
.waveC:hover {
  border: 2px solid rgb(255, 251, 0);
  box-shadow: 12px 12px 2px 1px rgba(249, 73, 255, 0.4);
}
