body {
  font-family: "Gloria Hallelujah", cursive;
}

h1 {
  text-align: center;
}

.winner {
  display: hidden;
}

.game-container {
  display: grid;
  grid-template-columns: 75px 75px 75px;
  gap: 20px;
  justify-content: center;
}

.box {
  width: 75px;
  height: 75px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  animation: mymove 15s infinite alternate;
}

.x {
  width: 75px;
  height: 75px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  background-color: magenta;
}

.o {
  width: 75px;
  height: 75px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
  background-color: yellow;
}

@keyframes mymove {
  0% {
    background-color: red;
  }

  14% {
    background-color: orange;
  }

  28% {
    background-color: yellow;
  }

  42% {
    background-color: green;
  }

  66% {
    background-color: rgb(0, 0, 182);
  }

  82% {
    background-color: indigo;
  }

  100% {
    background-color: violet;
  }
}

.btn-container {
  display: flex;
  justify-content: center;
}

/*button stylings */
.btn {
  cursor: pointer;
  visibility: hidden;
}

.input {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.input:hover {
  outline: none;
}
.wave {
  border-radius: 40px 0 40px 0;
  transition: 0.3s ease;
}
.waveC {
  background-color: rgb(255, 254, 191);
  color: rgb(197, 0, 197);
  border: 2px solid rgb(230, 146, 255);
  box-shadow: 2px 2px 2px 1px rgba(249, 73, 255, 0.4);
}
.waveC:hover {
  border: 2px solid rgb(255, 251, 0);
  box-shadow: 12px 12px 2px 1px rgba(249, 73, 255, 0.4);
}

/*
  justify-content: center; => left and right
  align-items: center; => top and down
*/
